DB_CONNECTION=pgsql
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=sync-hub
DB_USERNAME=postgres
DB_PASSWORD=your_password_here

# Optional dark theme, light theme (overridden by DB after first run)
APP_THEME=dark
